@tailwind base;
@tailwind components;
@tailwind utilities;

/* color variable */
:root {
   --mossGreenSecondary-900: #2e4210;
   --mossGreenSecondary-700: #3f621a;
   --mossGreenSecondary-600: #4f7a21;
   --mossGreenSecondary-400: #99b875;
   --mossGreenSecondary-300: #bfd6a3;
   --mossGreenSecondary-200: #d3e5bc;
   --mossGreenSecondary-100: #e2ebd8;
   --mossGreenSecondary-50: #f0f5e8;
   --mossGreenSecondary-25: #f4f7ed;
}

@layer base {
   /* font */
   @font-face {
      font-family: "Lora";
      font-style: normal;
      src: url("../assets/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Lora";
      font-style: italic;
      src: url("../assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Plus Jakarta Sans";
      font-style: italic;
      src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }

   body {
      @apply font-JakartaSans bg-primary-25;
      position: relative;
   }

   /* input styling */
   input:-webkit-autofill,
   input:-webkit-autofill:focus,
   input:-webkit-autofill:active {
      -webkit-background-clip: text;
      box-shadow: inset 0 0 20px 20px #faf9f7;
   }
   .input__wrapper:hover input:-webkit-autofill {
      box-shadow: inset 0 0 20px 20px #f5f3f0;
   }

   input[type="checkbox"] {
      /* Double-sized Checkboxes */
      -ms-transform: scale(1.4); /* IE */
      -moz-transform: scale(1.4); /* FF */
      -webkit-transform: scale(1.4); /* Safari and Chrome */
      -o-transform: scale(1.4); /* Opera */
      transform: scale(1.4);
      padding: 10px;
   }

   /* HOMEPAGE */
   .responsive__container {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
   }
   /* responsive container */
   @media screen and (min-width: 768px) {
      .responsive__container {
         width: 100%;
         padding-right: 1.5rem;
         padding-left: 1.5rem;
      }
   }
   @media screen and (min-width: 1280px) {
      .responsive__container {
         max-width: 1200px;
         padding-right: 1.5rem;
         padding-left: 1.5rem;
         margin-left: auto;
         margin-right: auto;
      }
   }

   /* box shadow for button : used in component */
   .btn__shadow--primary {
      box-shadow: 0px 0px 0px 4px #d7d3d0;
   }
   .btn__shadow {
      box-shadow: 0px 0px 0px 4px #f0eeeb;
   }
   .help-btn__shadow {
      box-shadow:
         4px 4px 24px 0px rgba(5, 79, 49, 0.12),
         2px 2px 12px 0px rgba(5, 79, 49, 0.16),
         2px 2px 24px 0px rgba(5, 79, 49, 0.2);
   }

   /* DASHBOARD */
   /* container */
   .responsive__container--dashboard {
      width: 100%;
      /* padding-right: 1rem;
      padding-left: 1rem; */
   }
   /* @media screen and (min-width: 1440px) {
      .responsive__container--dashboard {
         max-width: 1440px;
         padding-right: 1.5rem;
         padding-left: 1.5rem;
         margin-left: auto;
         margin-right: auto;
      }
   } */
}

@layer components {
   /* logo */
   .logo__primary {
      @apply text-[14px] leading-[20px] font-bold text-primary-950 font-Lora;
   }
   .logo__secondary {
      @apply text-[16px] leading-[24px] font-bold text-primary-950 font-Lora;
   }
   @media screen and (min-width: 768px) {
      .logo__primary {
         @apply text-[16x] leading-[24px];
      }
      .logo__secondary {
         @apply text-[20px] leading-[28px];
      }
   }
   @media screen and (min-width: 1280px) {
      .logo__primary {
         @apply text-[20px] leading-[28px];
      }
   }

   /* responsive icon */
   .responsive__icon {
      @apply w-4 h-4;
   }
   .responsive__icon--sm {
      @apply w-4 h-4;
   }
   @media screen and (min-width: 768px) {
      .responsive__icon,
      .responsive__icon--sm {
         @apply w-5 h-5;
      }
   }
   @media screen and (min-width: 1280px) {
      .responsive__icon {
         @apply w-6 h-6;
      }
   }

   /* link text */
   .text__link {
      @apply hover:underline active:underline active:font-semibold hover:text-primary-600 transition-all;
   }

   /* label variants */
   .label__green--lg {
      @apply text-label-sm font-semibold text-mossGreenSecondary-900 border border-mossGreenSecondary-900 bg-mossGreenSecondary-100 py-3 px-6 rounded-full;
   }
   .label__white--lg {
      @apply text-label-sm font-semibold text-primary-600 border border-primary-600 bg-primary-25 py-3 px-6 rounded-full;
   }
   .label__red--lg {
      @apply text-label-sm font-semibold text-orangeDarkSecondary-900 border border-orangeDarkSecondary-900 bg-orangeDarkSecondary-100 py-3 px-6 rounded-full;
   }
   .label__green--sm {
      @apply text-label-xs font-semibold text-mossGreenSecondary-900 border border-mossGreenSecondary-900 bg-mossGreenSecondary-100 py-2 px-4 rounded-full;
   }
   .label__white--sm {
      @apply text-label-xs font-semibold text-primary-600 border border-primary-600 bg-primary-25 py-2 px-4 rounded-full;
   }
   .label__red--sm {
      @apply text-label-xs font-semibold text-orangeDarkSecondary-900 border border-orangeDarkSecondary-900 bg-orangeDarkSecondary-100 py-2 px-4 rounded-full;
   }
   @media screen and (min-width: 768px) {
      .label__green--lg {
         @apply text-label-lg py-3 px-6;
      }
      .label__white--lg {
         @apply text-label-lg py-3 px-6;
      }
      .label__red--lg {
         @apply text-label-lg py-3 px-6;
      }
      .label__green--sm {
         @apply text-label-md py-2 px-4;
      }
      .label__white--sm {
         @apply text-label-md py-2 px-4;
      }
      .label__red--sm {
         @apply text-label-md py-2 px-4;
      }
   }

   /* help button */
   .help__btn--primary {
      @apply flex justify-center items-center text-label-sm font-[600] text-primary-25 bg-success-600 py-[10px] px-4 rounded-full hover:bg-success-700 help-btn__shadow transition-colors;
   }
   @media screen and (min-width: 768px) {
      .help__btn--primary {
         @apply text-label-lg py-3 px-5;
      }
   }

   /* navbar mobile */
   .navbar__mobile--show {
      @apply fixed left-0 right-0 mx-4 p-4 border-primary-200 border rounded-2xl bg-[#fff] z-20 top-[60px] flex flex-col;
   }

   /* * FORM */
   /* input */
   .input__wrapper {
      @apply relative flex flex-col text-label-sm text-primary-600 p-4 border border-primary-200 rounded-xl hover:border hover:border-primary-400 hover:bg-primary-50 transition-colors;
   }
   .input__wrapper-error {
      @apply flex flex-col text-label-sm p-4 border border-orangeDarkSecondary-600 bg-orangeDarkSecondary-25  rounded-xl transition-colors;
   }
   .input__wrapper-disabled {
      @apply flex flex-col text-label-sm text-primary-300 p-4 border border-primary-300 rounded-xl;
   }
   .input__text {
      @apply text-body-lg pt-5 w-full text-primary-800 outline-none bg-transparent font-[400] font-JakartaSans;
   }
   .input__text:disabled {
      @apply cursor-not-allowed opacity-[0.7] text-primary-300;
   }
   .input__text::placeholder {
      @apply font-[400];
   }
   .input__text:disabled::placeholder {
      @apply text-primary-300;
   }

   /* .input__text:
   .input__text:focus {
      @apply border-primary-600;
   } */
}

/* section 2 */
.img__shadow--blue {
   box-shadow: 0px 0px 0px 12px #d3e5f0;
   object-fit: cover;
   border-radius: 24px;
}
.img__shadow--green {
   box-shadow: 0px 0px 0px 12px #e2ebd8;
   object-fit: cover;
   border-radius: 24px;
}
.img__shadow--violet {
   box-shadow: 0px 0px 0px 8px #dbd8eb;
   object-fit: cover;
   border-radius: 24px;
}

/* card testimoni carousel */
.card__carousel {
   width: 100%;
   height: 100%;
   position: relative;
}

.card__carousel .swiper-wrapper {
   padding: 12px;
}

.swiper-slide {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide #testimoni-card-bg {
   width: 100%;
   height: 400px;
   background-size: cover;
   border-radius: 16px;
}

.bg-color__testimoni {
   background: rgba(219, 216, 235, 0.72);
}

@media screen and (min-width: 768px) {
   .swiper-slide #testimoni-card-bg {
      height: 428px;
   }
}
/* .image-slider > .swiper-wrapper {
   transition-timing-function: linear;
} */

/* Login page */
.or__line {
   border: 0;
   clear: both;
   display: block;
   width: 50%;
   background-color: #e5e2e1;
   border-top: 1px solid #e5e2e1;
   height: 1px;
}

/* dashboard sidebar */
.active__sidebar::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 4px;
   height: 100%;
   background-color: var(--active-sidebar-color);
}
