@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@layer base {
   @font-face {
      font-family: "Lora";
      font-style: normal;
      src: url("../assets/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Lora";
      font-style: italic;
      src: url("../assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Plus Jakarta Sans";
      font-style: italic;
      src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   body {
      @apply font-JakartaSans bg-primary-25;
      position: relative;
   }

   /* container */
   .responsive__container {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
   }
   /* responsive container */
   @media screen and (min-width: 768px) {
      .responsive__container {
         width: 100%;
         padding-right: 1.5rem;
         padding-left: 1.5rem;
      }
   }
   @media screen and (min-width: 1280px) {
      .responsive__container {
         max-width: 1200px;
         padding-right: 1.5rem;
         padding-left: 1.5rem;
         margin-left: auto;
         margin-right: auto;
      }
   }

   /* box shadow for button */
   .btn__shadow {
      box-shadow: 0px 0px 0px 4px #f0eeeb;
   }
   .btn__shadow--primary {
      box-shadow: 0px 0px 0px 4px #d7d3d0;
   }
}

@layer components {
   /* button variants */
   .btn__primary {
      @apply text-label-sm font-[500] text-primary-25 bg-primary-950 py-4 px-8 rounded-full hover:bg-primary-800 active:bg-primary-950 active:outline active:outline-1 active:outline-primary-400 active:btn__shadow--primary transition-colors;
   }
   .btn__secondary {
      @apply text-label-sm font-[600] text-primary-950 bg-primary-200 py-4 px-8 rounded-full hover:bg-primary-300 active:bg-primary-200 active:outline active:outline-1 active:outline-primary-400 active:btn__shadow transition-colors;
   }
   .btn__secondary--small {
      @apply text-label-sm md:text-label-md font-[600] text-primary-950 bg-primary-200 py-3 px-6 rounded-full hover:bg-primary-300 active:bg-primary-200 active:outline active:outline-1 active:outline-primary-400 active:btn__shadow transition-colors;
   }
   .btn__tertiary {
      @apply text-label-sm font-[600] text-primary-950 border border-primary-200 hover:border-primary-300 py-4 px-8 rounded-full hover:bg-primary-100 active:bg-primary-25 active:outline active:outline-1 active:outline-primary-400 active:btn__shadow transition-colors;
   }
   .btn__tertiary--small {
      @apply text-label-sm md:text-label-md  font-[600] text-primary-950 border border-primary-200 hover:border-primary-300 py-3 px-6 rounded-full hover:bg-primary-100 active:bg-primary-25 active:outline active:outline-1 active:outline-primary-400 active:btn__shadow transition-colors;
   }
   .text__link {
      @apply hover:underline active:underline visited:font-semibold hover:text-primary-600 transition-all;
   }
   @media screen and (min-width: 768px) {
      .btn__primary {
         @apply text-label-lg py-3 px-6;
      }
      .btn__secondary {
         @apply text-label-lg py-3 px-6;
      }
      .btn__tertiary {
         @apply text-label-lg py-3 px-6;
      }
   }

   /* label variants */
   .label__green--lg {
      @apply text-label-sm font-semibold text-mossGreenSecondary-900 border border-mossGreenSecondary-900 bg-mossGreenSecondary-100 py-3 px-6 rounded-full;
   }
   .label__white--lg {
      @apply text-label-sm font-semibold text-primary-600 border border-primary-600 bg-primary-25 py-3 px-6 rounded-full;
   }
   .label__red--lg {
      @apply text-label-sm font-semibold text-orangeDarkSecondary-900 border border-orangeDarkSecondary-900 bg-orangeDarkSecondary-100 py-3 px-6 rounded-full;
   }
   .label__green--sm {
      @apply text-label-xs font-semibold text-mossGreenSecondary-900 border border-mossGreenSecondary-900 bg-mossGreenSecondary-100 py-2 px-4 rounded-full;
   }
   .label__white--sm {
      @apply text-label-xs font-semibold text-primary-600 border border-primary-600 bg-primary-25 py-2 px-4 rounded-full;
   }
   .label__red--sm {
      @apply text-label-xs font-semibold text-orangeDarkSecondary-900 border border-orangeDarkSecondary-900 bg-orangeDarkSecondary-100 py-2 px-4 rounded-full;
   }

   @media screen and (min-width: 768px) {
      .label__green--lg {
         @apply text-label-lg py-3 px-6;
      }
      .label__white--lg {
         @apply text-label-lg py-3 px-6;
      }
      .label__red--lg {
         @apply text-label-lg py-3 px-6;
      }
      .label__green--sm {
         @apply text-label-md py-2 px-4;
      }
      .label__white--sm {
         @apply text-label-md py-2 px-4;
      }
      .label__red--sm {
         @apply text-label-md py-2 px-4;
      }
   }

   /* navbar mobile */
   .navbar__mobile--show {
      @apply fixed left-0 right-0 mx-4 p-4 border-primary-200 border rounded-2xl bg-[#fff] z-20 top-[60px] flex flex-col;
   }
}

/* section 2 */
.img__shadow--blue {
   box-shadow: 0px 0px 0px 12px #d3e5f0;
   object-fit: cover;
   border-radius: 24px;
}
.img__shadow--green {
   box-shadow: 0px 0px 0px 12px #e2ebd8;
   object-fit: cover;
   border-radius: 24px;
}
.img__shadow--violet {
   box-shadow: 0px 0px 0px 8px #dbd8eb;
   object-fit: cover;
   border-radius: 24px;
}

/* card testimoni carousel */
.card__carousel {
   width: 100%;
   height: 100%;
   position: relative;
}

.card__carousel .swiper-wrapper {
   padding: 12px;
}

.swiper-slide {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide #testimoni-card-bg {
   width: 100%;
   height: 400px;
   background-size: cover;
   border-radius: 16px;
}

.bg-color__testimoni {
   background: rgba(219, 216, 235, 0.72);
}

@media screen and (min-width: 768px) {
   .swiper-slide #testimoni-card-bg {
      height: 428px;
   }
}

/* .image-slider > .swiper-wrapper {
   transition-timing-function: linear;
} */
