@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}

a {
   color: inherit;
   text-decoration: none;
}

@layer base {
   @font-face {
      font-family: "Lora";
      font-style: normal;
      src: url("../assets/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Lora";
      font-style: italic;
      src: url("../assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   @font-face {
      font-family: "Plus Jakarta Sans";
      font-style: italic;
      src: url("../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
      font-display: swap;
   }
   body {
      @apply font-JakartaSans;
   }
}

@layer components {
   .btn__primary-lg {
      @apply px-8 py-4 rounded-full bg-primary text-white font-bold text-lg;
   }
   .btn__secondary-lg {
      @apply px-8 py-4 rounded-full bg-secondary text-white font-bold text-lg;
   }
}
